<h2>Device List</h2>
<ul class="devices">
  <li *ngFor="let device of devices">
    <a routerLink="/devices/detail/{{ device.id }}">
      <span class="badge">{{ device.id }}</span>
      <span class="item"
        ><span class="badge">Color </span>{{ device.color }}</span
      >
      <span class="item"
        ><span class="badge">Number</span>{{ device.partNumber }}</span
      >
      <span class="item"
        ><span class="badge">Category</span>{{ device.categoryId }}
      </span>
    </a>
  </li>
</ul>
